
/* html5 reset css file */
@import url('html5reset.css');

/* standard css for desktop browsers */
html {
	background-image: url(https://www.we-energies.com/weimages/residential/service/landscape_fakerock_lg.jpg);
  background-repeat: repeat;
}
body {
	background-color:green;
}

/* override css for mobile browsers */
@media all and (min-width:320px) and (max-width:400px) {
	body {
		font-size:1em;
		background-color:orange;
	}
}
