/* html5reset from: https://raw.github.com/murtaugh/HTML5-Reset/master/_/css/reset.css */
@import url('reset.css');
@import url('testing.css');

/* actual styles */



@media all and (min-width:769px) {
	/* column sizes */
	.page-wrapper {
		padding:30px
	}

	.intro,
	.supporting {
		width:60%;
		float:left;
	}

	.sidebar {
		width:35%;
		margin-left:65%;
	}
}

@media all and (max-width:768px) {


}