/* html5reset from: https://raw.github.com/murtaugh/HTML5-Reset/master/_/css/reset.css */
@import url('reset.css');
@import url('testing.css');



/* actual styles */
html {
	background-image:url('catlitter.jpg');
	background-size:cover;
}

.intro header h1, 
.intro header h2 {
	display:none;
}

.intro header {
	height:163px;
	background-image:url('header.png');
	background-repeat:no-repeat;
	background-size:contain;
}


@media all and (min-width:769px) {
	/* column sizes */
	.page-wrapper {
		padding:30px
	}

	.intro,
	.supporting {
		width:60%;
		float:left;
	}
	
	.supporting:after {
		content:"";
		background-image:url("after.png");
		height:298px;
		width:362px;
		display:block;
		position:fixed;
		left:58.5%;
		bottom:0;
	}

	.sidebar {
		width:35%;
		margin-left:65%;
	}
}

@media all and (max-width:768px) {


}

@media all and (min-width:1500px) {
	
	.sidebar {
		position:absolute;
		top:0;
		left:0;
		margin:0;
		width:400px;
		z-index:-1;
	}
	
	.sidebar:hover {
		z-index:1;
	}

}